body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
/* Responsive table */
.table-responsive {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
/* Dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

    /* Indicator for the dropdown */
    .dropdown::after {
        content: "";
        border: solid #fff; /* Adjust color as needed */
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 40px; /* Adjust distance from button text */
        transform: rotate(45deg);
        position: absolute;
        right: -100px; /* Adjust positioning as needed */
        top: calc(50% - 5px); /* Center vertically */
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.full-width {
    width: 200%; /* Set desired width */
    max-width: none;
}

.bg-color {
    background-color: #3B1867;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    .dropdown-content a:hover {
        background-color: #0094ff;
    }
