.bg-color {
    background-color: #3B1867;
}

/* Media Queries */
@media (min-width: 576px) {
    .card {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .card {
        width: 75%;
    }
}

@media (min-width: 992px) {
    .card {
        width: 50%;
    }
}
