/*.file-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

    .file-card i {
        margin-right: 15px;
    }

.file-info {
    display: flex;
    flex-direction: column;
}

.file-info .file-size {
        color: #888;
        font-size: 12px;
}*/

.content-wrapper {
    padding: 15px; /* Adds space around the content */
    overflow-x: auto; /* Allows horizontal scrolling if the content is too wide */
}

.table {
    width: 100%; /* Ensures the table takes the full width of its container */
    table-layout: auto; /* Allows table cells to resize based on content */
}

    .table th, .table td {
        word-wrap: break-word; /* Prevents overflow of long text */
    }

