.bg-color {
    background-color: #3B1867;
}

.full-width {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: to center vertically within the viewport */
}

/*for girdview clickable*/
.no-underline {
    color: black; /* Make the text black */
    text-decoration: none; /* Remove the underline */
}

.no-underline:hover {
    text-decoration: none; /* Ensure no underline on hover */
}



.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0; /* Optional: space between elements */
}

.calendar-container {
    flex: 1;
    margin-left: 100px; /* Adjust as needed */
    position: relative; /* Position the calendar container */
    top: -150px; /* Move the calendar 20px upward */
}

.schedule-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.schedule-gridview {
    width: auto;
    max-width: 1200px; /* Optional: set a max-width to control the width */
    margin: 0 auto; /* Center the GridView */
    border-collapse: collapse;
    table-layout: fixed; /* Ensure uniform column width */
}

.d-flex.justify-content-center.align-items-center {
    height: 100vh; /* Center vertically within the viewport */
}

    .schedule-gridview th,
    .schedule-gridview td {
        width: 120px;
        padding: 10px;
        border: 1px solid #000;
        text-align: center; /* Center-align content */
    }

    .schedule-gridview th {
        background-color: #4A3C8C;
        color: #E7E7FF;
    }

    .schedule-gridview tr:nth-child(even) {
        background-color: #DEDFDE;
    }

    .schedule-gridview tr.selected {
        background-color: #9471DE;
        color: #fff;
    }
